ul {
    list-style-type: none;
    display: inline;
    color: #D3E3FC;
    font-size: 1.5em;
}

.navbar {
    background-color: #77A6F7;
    border: 0;
    -webkit-box-shadow: 0px 12px 30px -6px rgba(61,61,61,0.72);
    -moz-box-shadow: 0px 12px 30px -6px rgba(61,61,61,0.72);
    box-shadow: 0px 12px 30px -6px rgba(61,61,61,0.72);
}

h1 {
    color: #D3E3FC;
    display: inline;
}